################################################################################
#>> This file is managed by Ansible - changes made here will be overwritten. <<#
################################################################################
#
# {{ mounts_crypttab_path }}: encrypted file system information.
#
# <target name>	<source device>		<key file>	<options>

{% if mounts_encrypted is defined %}
###### Encrypted drives and their decrypted mount points
{% for mount in mounts_encrypted %}
{% if mount.crypttab.comment is defined %}# {{ mount.crypttab.comment }}{% endif %}
{{ mount.label }} /dev/disk/by-uuid/{{ mount.uuid }} {{ mount.crypttab.key_file }} {{ mount.crypttab.options | default('luks,nofail') }}
{% endfor %}
{% endif %}
