################################################################################
#>> This file is managed by Ansible - changes made here will be overwritten. <<#
################################################################################
#
# {{ crypttab_path }}: encrypted file system information.
#
# <target name>	<source device>		<key file>	<options>

{% if drives_encrypted is defined %}
###### Encrypted drives and their un-encrypted mount points
{% for drive in drives_encrypted %}
{% if drive.crypttab.comment is defined %}# {{ dive.crypttab.comment }}{% endif %}
{{ drive.label }} /dev/disk/by-uuid/{{ drive.uuid }} {{ drive.crypttab.key_file }} {{ drive.crypttab.options | default('luks,nofail') }}
{% endfor %}
{% endif %}
