################################################################################
#>> This file is managed by Ansible - changes made here will be overwritten. <<#
################################################################################
username={{ mounts_cryptdisks.net_credentials.username }}
password={{ mounts_cryptdisks.net_credentials.password }}
