################################################################################
#>> This file is managed by Ansible - changes made here will be overwritten. <<#
################################################################################
username={{ cryptdisks_mount.net_credentials.username }}
password={{ cryptdisks_mount.net_credentials.password }}
